.idea
vendor/
bin/
p2p-rendering/
main
server/docker/__pycache__
p2p-rendering-computation
p2prc
config.json
.vscode/

#ignore generated iptables
p2p/iptable/
#ignore plugins added
plugin/deploy/
#ignore track container file
client/trackcontianers/