body {
    font-family: sans-serif;
}

span#discordJoin {
    color: red;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    /* General Page Changing */
    body {
        background: #121212; /* Background Color */
        color: #FFFFFF; /* Text Color */
    }

    a:link{ /* Unvisited Link */
        color: #03DAC5;
    }

    a:visited { /* Visited Link */
        color: #BB86FC;
    }

    a:hover { /* Mouse over Link */
        color: #018786;
    }

    span#discordJoin { /* Text Color Change */
        color: #cc0227;
    }
}
