---
all:
  vars:
    ansible_python_interpreter: /usr/bin/python3
test:
  hosts:
    test1:
      ansible_host: 127.0.0.1     # Replace with your remote IP
      ansible_port: 2222          # Replace with your remote SSH port
      ansible_user: vagrant       # Replace wtih your username

production:
  hosts:
    writer:
      ansible_host: 192.168.1.100 # Replace with your remote IP
      ansible_port: 2202          # Replace with your remote SSH port
      ansible_user: ansible       # Replace wtih your username
    mirror1:
      ansible_host: 192.168.1.101 # Replace with your remote IP
      ansible_port: 2202          # Replace with your remote SSH port
      ansible_user: ansible       # Replace wtih your username
    mirror2:
      ansible_host: 192.168.1.102 # Replace with your remote IP
      ansible_port: 2202          # Replace with your remote SSH port
      ansible_user: ansible       # Replace wtih your username
