#table-of-contents h2{
    z-index: 200;
    background-color: #b96c29;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #fcfcfc;
    font-size: 100%;
    margin-bottom: 0.809em;
}

#search-results li {
    background-color: #b96c29;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

h4,h5,h6{
    color: #b96c29;
    font-weight:300;
}
